[run]
source = .
branch = false
omit =
    ./venv/*
    */tests/*
    *__init__.py
    setup.py
    run_tests.py

[report]
omit =
    ./venv/*
    */tests/*
    *__init__.py
    setup.py
    run_tests.py
fail_under = 80

[html]
directory = coveragereport

[xml]
output = coveragereport/coverage.xml