# This workflow will perform a QA test
# Including:
#   - sonarcloud
#   - test

name: qa

on:
  pull_request: {}
  workflow_dispatch: {}

jobs:
  sonar:
    name: SonarCloud Analysis
    uses: ./.github/workflows/sonar.yml
    with:
      python-version: "3.11"
    secrets: inherit
  test:
    name: StartLeft Tests
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ "3.10", "3.11"]
    uses: ./.github/workflows/test.yml
    with:
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python-version }}
