# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# This workflow helps you trigger a SonarCloud analysis of your code and populates
# GitHub Code Scanning alerts with the vulnerabilities found.
# Free for open source project.

name: sonar

on:
  workflow_call:
    inputs:
      python-version:
        description: 'Python Version'
        required: true
        type: string
    secrets:
      SONAR_TOKEN:
        required: true

permissions:
  pull-requests: read # allows SonarCloud to decorate PRs with analysis results

jobs:
  run_analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the project from Git
        uses: actions/checkout@v3
        with:
            fetch-depth: 0
      - name: Install StartLeft
        uses: ./.github/actions/install-startleft
        with:
          python-version: ${{ inputs.python-version }}
      - name: Run test using coverage
        run: coverage run -m pytest
      - name: Generate coverage report
        run: coverage xml
      - name: Analyze with SonarCloud
        uses: SonarSource/sonarqube-scan-action@1a6d90ebcb0e6a6b1d87e37ba693fe453195ae25 #v5.3.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}   # SonarCloud token
          SONAR_HOST_URL: "https://sonarcloud.io"   # Required for SonarCloud
        with:
          args: >
            -Dsonar.projectKey=startleft
            -Dsonar.organization=continuumsec
            -Dsonar.python.version=3.10,3.11,3.12
            -Dsonar.qualitygate.wait=true
            -Dsonar.python.coverage.reportPaths=coveragereport/coverage.xml

          # Args explanation
          # Unique keys of your project and organization. You can find them in SonarCloud > Information (bottom-left menu)
          # mandatory
          # -Dsonar.projectKey=
          # -Dsonar.organization=

          # Version of supported python versions to get a more precise analysis
          # -Dsonar.python.version=

          # Flag to way for Analysis Quality Gate results, if fail the steps it will be marked as failed too.
          # -Dsonar.qualitygate.wait=

          # The path for coverage report to use in the SonarCloud analysis, it must be in XML format.
          # -Dsonar.python.coverage.reportPaths=